body {
  background-color: aliceblue;
}

.list-item {
  font-size: 1.5rem;
}

.list-item-checkbox {
  background: #0de281;
  outline: 3px solid black;

.list-item-checkbox:outline {
  outline: 2px solid yellow;
}
